<div class="modal-header">
    <h3 class="modal-title">Edit Meeting!</h3>
</div>

<div class="modal-body">
<md-tabs class="md-accent" md-selected="data.selectedIndex" md-theme="pink">
      <md-tab id="tab1" aria-controls="tab1-content">
        TITLE
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="data.secondLocked">
        DATA
      </md-tab>
      <md-tab id="tab3" aria-controls="tab3-content">
        USERS
      </md-tab>
</md-tabs>
<ng-switch on="data.selectedIndex" class="tabpanel-container">
	<div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
		<section layout="horizontal">
		<md-text-float flex="20" label="Title" ng-model="items.meeting.title"></md-text-float>
		<md-text-float flex="80" label="Description" ng-model="items.meeting.description"></md-text-float>
		</section>
	</div>
	<div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
		<section layout="horizontal">
	    <div flex="50" class="cdkControl1">
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu0" data-toggle="dropdown" aria-expanded="true">
				Change applied date
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu0">
				<li role="presentation" ng-repeat="date in items.meeting.data">
						<md-button class="md-primary" md-theme="deep-orange" ng-click="setActiveDate(date)">{{date.date}}</md-button>
						<md-button class="md-primary" md-theme="indigo" ng-click="deleteActiveDate($index)">X</md-button>
				</li>
			  </ul>
			</div>
			<!-- -->
			<section layout="horizontal">
				<div style="padding-right: 30px;">
				<md-text-float flex="25" label="Applied Date" ng-model="acdate.date"></md-text-float>
					<div flex="25" collapse="isCollapsedDate" style="padding-bottom: 5px;">
					<md-button class="md-raised md-primary" md-theme="amber" ng-click="applyDateChange()">APPLY</md-button>
					</div>
					<md-button class="md-raised md-primary" md-theme="deep-orange" ng-click="applyDateChangeNew(dtdk)">NEW DATE</md-button>
				</div>
				<div>
				<!-- NEW DATE NEW DATE -->
				<md-text-float flex="25" label="New Date" ng-model="dtdk"></md-text-float>
					<div flex="25" style="padding-bottom: 5px;">
					<md-button class="md-raised md-primary" md-theme="green" ng-click="printDT(dtdk)">APPLY</md-button>		
					</div>
				</div>
			</section>
			<div class="dropdown" style="padding-top: 30px;">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Change applied time
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation" ng-repeat="time in actdateorig.times">
					<md-button class="md-primary" md-theme="deep-orange" ng-click="setActiveTime(time)">{{time.stamp}}</md-button>
					<md-button class="md-primary" md-theme="indigo" ng-click="deleteActiveTime($index)">X</md-button>
				</li>
			  </ul>
			</div>
		    <md-text-float flex="20" label="Time" ng-model="actime.stamp"></md-text-float>
		    <div collapse="isCollapsedTime">
				<md-button class="md-raised md-primary" md-theme="amber" ng-click="applyTimeChange()">APPLY</md-button>		
			</div>	
		</div>
		<div flex="50" class="cdkControl1">
        <datepicker ng-model="dt" ng-require="true" ng-change="changeDt(dt)" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        	<div flex="25" class="cdkControl2">
				<!--<md-button class="md-raised md-primary" md-theme="deep-orange" ng-click="printDT(dt)">{{dt | date:'fullDate' }}</md-button>-->
			</div>
		</div>
		</section>	
	</div>
	<div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">
		View for Item #3<br/>
		data.selectedIndex = 2
	</div>
</ng-switch>	
	
	
	

</div>


<div class="modal-footer">
    <md-button class="md-raised md-primary" md-theme="amber" ng-click="ok()">OK</md-button>
    <md-button class="md-raised md-primary" md-theme="lime" ng-click="cancel()">CLOSE</md-button>
</div>
