<!--<div class="cdkControl1" ng-repeat="date in dataa">
  <b>DATE: {{date}}</b>
</div>-->

<div class="cdkControl1">
  <md-button class="md-raised md-primary" md-theme="deep-orange" ng-click="testAdd()">ADD</md-button>
</div>  
<accordion close-others="oneAtATime">
  <accordion-group heading="{{meeting.title}}" ng-repeat="meeting in meetings track by $index" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
     <accordion-heading>
       <section layout="horizontal">
       <b flex="70">{{meeting.title}}</b>
       <div flex="30" style="overflow: visible;">
         <md-button class="md-raised md-primary" md-theme="teal" ng-click="sayHello($event)">{{meeting.booked}}</md-button>
         <md-button class="md-raised md-primary" md-theme="deep-purple" ng-click="sayHello()">Add</md-button>
         <md-button class="md-raised md-primary" md-theme="deep-purple" ng-click="testRemove()">REMOVE</md-button>
       </div>
       </section>
     </accordion-heading>
     {{meeting.description}}
     <accordion close-others="oneAtATime">
        <accordion-group heading="{{data1.date}}" ng-repeat="data1 in meeting.data">
         <accordion-heading>
           <section layout="horizontal">
             <b flex="90">{{data1.date}}</b>
             <div flex="10">
               <md-button class="md-raised md-primary" md-theme="deep-orange" ng-click="sayHello()">{{data1.hit}}</md-button>
             </div>
           </section>
         </accordion-heading>
           <table>
             <tr>
              <td></td>
              <td ng-repeat="user in data1.users">
                {{user.name}}
              </td>
             </tr>
             <tr ng-repeat="time in data1.times">
               <td>
                 {{time.stamp}}
               </td>
               <td ng-repeat="time in data1.times">
                 <md-button class="md-raised md-primary" md-theme={{time.check[$index]}}>STATE</md-button>
              </td>
             </tr>
          </table>
        </accordion-group>
     </accordion>
 </accordion-group>
</accordion>
