<!-- <md-content>
  <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span flex-order="1">NgTest Demo</span>
        <md-button md-theme="green" flex-order="2" class="md-raised md-primary">Primary</md-button>
        <md-button md-theme="green" flex-order="3" class="md-fab md-primary" aria-label="Time">
  <md-icon icon="bower_components/material-design-icons/device/svg/design/ic_airplanemode_off_24px.svg" style="width: 24px; height: 24px;"></md-icon>
</md-button>
<md-button md-theme="orange" flex-order="4" class="md-raised md-primary" md-theme="cyan">Button</md-button>
      </h2>
  </md-toolbar>
</md-content>
<br>
<md-button class="md-raised md-primary">Primary</md-button>
<br>
<my-tabs>
  <my-pane title="Hello">
    <h4>Hello</h4>
    <p>Lorem ipsum dolor sit amet</p>
  </my-pane>
  <my-pane title="World">
    <h4>World</h4>
    <em>Mauris elementum elementum enim at suscipit.</em>
    <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
  </my-pane>
</my-tabs>
<br>-->
